<table class="chess-board">
    <tbody>
        <tr>
            <th></th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
            <th>e</th>
            <th>f</th>
            <th>g</th>
            <th>h</th>
        </tr>
        <tr *ngFor="let x of [8,7,6,5,4,3,2,1]">
            <th>{{x}}</th>
            <td *ngFor="let piece of board.grid[x-1];index as i"
            class="{{(x+i)%2==0?'light':'dark'}}{{piece?.selected?'-selected':''}}"
            (click)="selectPiece(x-1,i)">{{piece?piece.icon:''}}</td>
        </tr>
    </tbody>
</table>
